<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Client"

        android:networkSecurityConfig="@xml/network_security_config">

        <!-- HomeActivity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Client">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login"
            android:theme="@style/Theme.Client" />

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/register"
            android:theme="@style/Theme.Client" />

        <activity
            android:name=".AdminActivity"
            android:exported="true"
            android:label="@string/admin_activity_label" />
        <activity
            android:name=".UserActivity"
            android:exported="true"
            android:label="@string/user_activity_label" />

        <activity
            android:name=".CategoryManagementActivity"
            android:exported="true"
            android:label="@string/category_management_activity_label" />

        <activity
            android:name=".ProductManagementActivity"
            android:exported="true"
            android:label="@string/product_management_activity_label" />

        <activity
            android:name=".ProductSelectionActivity"
            android:exported="true"
            android:label="@string/product_selection_activity_label" />

        <activity
            android:name=".CartActivity"
            android:exported="true"
            android:label="@string/cart_activity_label"/>

        <activity
            android:name=".OrdersHistoryActivity"
            android:exported="true"
            android:label="Orders History"/>

        <activity
            android:name=".OrderDetailsActivity"
            android:exported="true"
            android:label="Order Details"/>

        <activity
            android:name=".OrderManagementActivity"
            android:exported="true"
            android:label="Order Management"/>


    </application>
    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

</manifest>
